AZTEC_ENV=local-network
# NODE_URL=http://localhost:8080
# Testnet:
# AZTEC_ENV=testnet
# NODE_URL=https://v5.testnet.rpc.aztec-labs.com
SPONSORED_FPC_ADDRESS=0x130925fbd734a252e3d8ddff87f6c346052dd5c13314eb96026b32baa1923296

# After a contract deploy, set the public address:
# HAPPY_VOTE_CONTRACT_ADDRESS=0x...
