VITE_AZTEC_NODE_URL=https://v5.testnet.rpc.aztec-labs.com
VITE_HAPPY_VOTE_CONTRACT_ADDRESS=
VITE_SPONSORED_FPC_ADDRESS=0x130925fbd734a252e3d8ddff87f6c346052dd5c13314eb96026b32baa1923296
VITE_DEFAULT_POLL_ID=1
VITE_PROVER_ENABLED=true
VITE_REQUIRE_ZKPASSPORT=false
VITE_ZKPASSPORT_ENABLED=true
VITE_ZKPASSPORT_DOMAIN=aztec.happyvote.xyz
VITE_ZKPASSPORT_DEV_MODE=false
VITE_ZKPASSPORT_DEFAULT_POLICY=vote-identity-verification
